
# Godot-specific ignores
.import/
export.cfg
# export_presets.cfg # Do not ignore due to Workflow Exporter!

# Mono-specific ignores
.mono/

# Admob-specific ignores, it is dangerous to reveal the real AdMob id as it could be abused!
*.admob

# Google API Secret proposed extension
*.GoogleAPI

# Unity meta files, what's the point of Unity Meta file in Godot project?
*.meta

# Blender Backup file must be ignored
*.blend1

android/