
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

# Admob-specific ignores, it is dangerous to reveal the real AdMob id as it could be abused!
*.admob

# Unity meta files
*.meta

# Blender Backup file must be ignored
*.blend1
