# Android Build must not be included as it is biig
# nope nvm. 3.2 has some changes
# build/ # Ok you may go
# .build_version

# https://github.com/Shin-NiL/Godot-Android-Admob-Plugin
# Compared, that the Build folder isn't there and could be the result of the compilation for Android custom build.

# legacy removal
legacy/